@use "../../styles/globals.scss" as g;

.alert {
  @include g.rounded("sm");
  width: 100%;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 15px;
  font-size: 18px;
}

.alert-error {
  background-color: rgba($color: red, $alpha: 0.3);
  border: 1px solid red;
}

.alert-info {
  background-color: rgba($color: blue, $alpha: 0.3);
  border: 1px solid blue;
}

.alert-icon {
  margin-right: 10px;
}
