@use "../../styles/globals.scss" as g;

.alert {
  @include g.rounded("md");
  @include g.flex-row;
  width: 100%;
  padding: 0.3rem;
  margin: 0.9rem;
  font: {
      size: 1.1rem;
      weight: 700;
  }
}

.alert-error {
  background-color: rgba($color: red, $alpha: 0.6);
  border: 1px solid red;
}

.alert-info {
  background-color: rgba($color: blue, $alpha: 0.3);
  border: 1px solid blue;
}

.alert-icon {
  margin-right: 0.6rem;
}
