.header {
  display: grid;
  grid-template-columns: .25fr 1fr .25fr;
  grid-template-areas:
    ". header date";
  
  .headings {
    grid-area: header;
    text-align: center;
    position: relative;

    & > textarea {
      width: 100%;
      text-align: center;
      padding: .25em;
      resize: none;
      overflow: hidden;
      line-height: 1.2;
      border: none;

      &.title {
        font-size: 2rem;
        font-weight: bold;
      }

      &.description {
        font-size: 1.25rem;
      }
    }
  }
}

.date {
  grid-area: date;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  & > span {
    display: block;
    width: 50%;
    max-width: 80px;
    padding: .25em;
    border: 1px solid black;

    &:first-of-type {
      border-bottom: none;
    }
  }
}

.section {
  display: grid;
  grid-template-columns: minmax(100px, 250px) minmax(400px, 1fr);

  & > div {
    border: 1px solid black;
    min-height: 50px;
  }
}

.wordbreak {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}